.profile{
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    background: hsla(0, 0%, 20%, 1);
    padding: 5px;
    margin-left: 9rem;
    margin-top: 2rem;
}

.bi{
    fill: hsla(0, 0%, 50%, 1);
    /* width: 80%; */
}

.offcanvas {
    background: rgb(73, 202, 94);
}
p {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
  }
